body {
  margin: 0;
}

h4 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  max-width: 1200px;
  margin-inline: auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 30px;
  max-width: 1200px;
  margin-inline: auto;
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-size: 26;
}

article {
  min-height: 300px;
  max-width: 1200px;
  margin-inline: auto;
  padding-left: 20px;
  padding-right: 20px;
}